$font-fallback: 'Montserrat', sans-serif;

@mixin heading($font: $font-fallback, $weight: 600, $fontsize: 2rem, $lineheight: 2.1rem) {
  font-family: $font;
  font-weight: $weight;
  font-size: $fontsize;
  line-height: $lineheight;
}

@mixin text($font: $font-fallback, $weight: 400, $fontsize: 1.4rem, $lineheight: 1.5rem, $letter-spacing) {
  font-family: $font;
  font-weight: $weight;
  font-size: $fontsize;
  line-height: $lineheight;
}

@mixin button() {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 20px;
}