* {
  font-size: 10px;
}

$font-primary: 'Montserrat', sans-serif;

/**
* Colors
*/
// Main
$primary-color: #a01f24;
$secondary-color: #39648d;
$dark-color: #222;
$grey-color: #b6b6b6;

// Base
$white-color: #fbfbfb;

/**
* Sizes
*/
$block-distance: 50px;
$block-distance-mobile: 10px;
$header-height: 80px;